
:root {
    --medium-color : #ff9c6d;
    --dark-medium-color : #fd5959;
    --dark-color: #d40000;
    --light-medium-color : #fcff82;
    --light-color : #feffba;
}


html::-webkit-scrollbar {
    display: none;
}

body {
    background-color: var(--light-color);
}

/*-------------------------HEADER----------------------------*/

.header {
    /* position: fixed; */
    z-index: 3;
    min-height: 90px;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--dark-color);
    border-radius: 0 0 30px 30px;
    box-shadow: 3px 8px 7px 2px rgba(0,0,0,0.5);
}

.header > h1, .navbar {
    margin-top: 10px; 
}

.title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    color: var(--light-color);
}

.navbar {
    border-radius: 30px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

nav > * {
    min-height: 35px;
    border: none;
    background-color: var(--light-medium-color)
}

.nav-search-btn {
    background:center / contain no-repeat url('./Img/more-black-removebg-preview.png'), var(--light-medium-color);
    border-right: var(--dark-medium-color) 2px ridge;
    border-radius: 30px 0 0 30px;
    padding: 0 20px 0 25px;
}

.nav-input {
    position: relative;
    padding-left: 10px;
}

.nav-submit {
    background:center / contain no-repeat url('./Img/search-button-removebg-preview.png'), var(--light-medium-color);
    color: transparent;
    border-left: var(--dark-medium-color) 2px ridge;
    border-radius: 0 30px 30px 0;
    padding: 0 15px;
}

.checkboxes {
    width: 150px;
    position: absolute;
    padding: 8px 5px;
    z-index: 1;
    margin-top: 35px;
    margin-left: -120px;
    background-color: var(--light-medium-color);
    border: var(--dark-medium-color) 3px solid;
    border-radius: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.9rem;
}

.checkboxes > fieldset {
    margin-top: 15px;
}

fieldset {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 5px auto;
}

fieldset > * {
    display: flex;
}

fieldset > legend {
    margin-bottom: 5px;
}

fieldset > * > label {
    font-size: small;
    padding-top: 3px;
}

fieldset > button {
    margin-top: 5px;
    height: 25px;
    width: 25px;
    padding: 6px 1px 0 3px; 
    border-radius: 30px;
    background-color: var(--dark-color);
    color: var(--light-color);
    border: none;
    font-weight: bolder;
}

.close-checkboxes {
    background-color: var(--light-color);
    color: var(--dark-color);
    border: var(--dark-color) solid 2px;
    position: absolute;
    margin-top: -15px;
    margin-left: 0px;
    height: 25px;
    width: 25px;
    padding: auto;
    border-radius: 30px;
    font-weight: bolder;
}

.list-finded {
    width: 180px;
    position: absolute;
    z-index: 1;
    margin-top: 35px;

    background-color: var(--light-medium-color);
    border: var(--dark-medium-color) 3px solid;
    border-radius: 20px;
}

.list-finded > li {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--dark-medium-color);
    border: var(--dark-color) 3px solid;
    color: var(--light-color);
    padding: 5px 0 2px 15px;
    margin: 5px ;
    border-radius: 20px;
}
/*-------------------------APP----------------------------*/

.app {
    z-index: 3;
    height: 100vh;
    /*TODO: change on @media-queries */
    width: 100%;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.get-all-btn {
    background-color: var(--light-medium-color);
    border: var(--dark-color) 3px solid;
    z-index: 5;
    position: fixed;
    right: 15px;
    top: 16vh;
    height: 40px;
    width: 40px;
    border-radius: 30px;
}

/*-------------------------MODALE----------------------------*/

.modale {
    position: fixed;
    top: 0;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    padding-top: 40px;

    overflow: auto;

    display: flex;
    flex-direction: column;

    background-color: var(--light-color);
}

.card-modale {
    margin: 10px auto;
}

.close-modale {
    z-index: 0;
    position: absolute;

    height: 30px;
    width: 30px;
    border-radius: 30px;

    background-color: var(--dark-color);
    color: var(--light-color);
    font-weight: bold;
    border: none;

    margin: 10px;
    right: 30px;
    top: 30px;
}

.card-stats-restist {
    font-size: 0.8em;
    background-color: var(--medium-color);
    border: var(--dark-medium-color) 3px solid;
    border-radius: 20px;
    margin: 2px auto;
    width: 90%;

    display: flex;
    flex-wrap: wrap;
}

.card-stat-resist {
    background-color: var(--dark-medium-color);
    border-radius: 20px;
    width: 48%;
    font-size: smaller;

    height: 30px;
    margin: 2px auto;
    padding: 10px 10px 0;
}