:root {
    --orange-color : #ff9c6d;
    --red-color : #fd5959;
    --yellow-color : #fcff82;
    --blue-color : #afc5ff;
}

body {
    background-color: var(--yellow-color);
}

.header {
    height: 80px;
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--red-color);
}