
:root {
    --medium-color : #ff9c6d;
    --dark-medium-color : #fd5959;
    --dark-color: #d40000;
    --light-medium-color : #fcff82;
    --light-color : #feffba;
}


html::-webkit-scrollbar {
    display: none;
}

body {
    background-color: var(--light-color);
}
/*-------------------------APP----------------------------*/

.app {
    z-index: 3;
    height: 100vh;
    /*TODO: change on @media-queries */
    width: 80%;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.get-all-btn {
    background-color: var(--light-medium-color);
    border: var(--dark-color) 3px solid;
    color: var(--dark-color);
    font-weight: bolder;
    font-size: xx-large;
    padding: 0 2px 4px;
    z-index: 5;
    position: fixed;
    right: 15px;
    top: 16vh;
    height: 40px;
    width: 40px;
    border-radius: 30px;
}

.to-top-btn {
    background-color: var(--light-medium-color);
    border: var(--dark-color) 3px solid;
    color: var(--dark-color);
    font-weight: bolder;
    font-size: x-large;
    padding: 0 3px 3px;
    position: fixed;
    z-index: 5;
    right: 15px;
    top: 26vh;
    height: 40px;
    width: 40px;
    border-radius: 30px;
}
/*-------------------------HEADER----------------------------*/

.header {
    /* position: fixed; */
    z-index: 3;
    min-height: 90px;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--dark-color);
    border-radius: 0 0 30px 30px;
    box-shadow: 3px 8px 7px 2px rgba(0,0,0,0.5);
}

.header > h1, .navbar {
    margin-top: 10px; 
}

.title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    color: var(--light-color);
}

.navbar {
    border-radius: 30px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

nav > * {
    min-height: 35px;
    border: none;
    background-color: var(--light-medium-color)
}

.nav-search-btn {
    background:center / contain no-repeat url('./Img/more-black-removebg-preview.png'), var(--light-medium-color);
    border-right: var(--dark-medium-color) 2px ridge;
    border-radius: 30px 0 0 30px;
    padding: 0 20px 0 25px;
}

.nav-input {
    position: relative;
    padding-left: 10px;
}

.nav-submit {
    background:center / contain no-repeat url('./Img/search-button-removebg-preview.png'), var(--light-medium-color);
    color: transparent;
    border-left: var(--dark-medium-color) 2px ridge;
    border-radius: 0 30px 30px 0;
    padding: 0 15px;
}

.checkboxes {
    width: 150px;
    position: absolute;
    padding: 8px 5px;
    z-index: 1;
    margin-top: 35px;
    margin-left: -120px;
    background-color: var(--light-medium-color);
    border: var(--dark-medium-color) 3px solid;
    border-radius: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.9rem;
}

.checkboxes > fieldset {
    margin-top: 15px;
}

fieldset {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 5px auto;
}

fieldset > * {
    display: flex;
}

fieldset > legend {
    margin-bottom: 5px;
}

fieldset > * > label {
    font-size: small;
    padding-top: 3px;
}

fieldset > button {
    margin-top: 5px;
    height: 25px;
    width: 25px;
    padding: 6px 1px 0 3px; 
    border-radius: 30px;
    background-color: var(--dark-color);
    color: var(--light-color);
    border: none;
    font-weight: bolder;
}

.close-checkboxes {
    background-color: var(--light-color);
    color: var(--dark-color);
    border: var(--dark-color) solid 2px;
    position: absolute;
    margin-top: -15px;
    margin-left: 0px;
    height: 25px;
    width: 25px;
    padding: auto;
    border-radius: 30px;
    font-weight: bolder;
}

.list-finded {
    width: 180px;
    position: absolute;
    z-index: 1;
    margin-top: 35px;

    background-color: var(--light-medium-color);
    border: var(--dark-medium-color) 3px solid;
    border-radius: 20px;
}

.list-finded > li {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--dark-medium-color);
    border: var(--dark-color) 3px solid;
    color: var(--light-color);
    padding: 5px 0 2px 15px;
    margin: 5px ;
    border-radius: 20px;
}


/*-------------------------MODALE----------------------------*/

.modale {
    position: fixed;
    top: 0;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    padding-top: 40px;

    overflow: auto;

    display: flex;
    flex-direction: column;

    background-color: var(--light-color);
}

.card-modale {
    margin: 0 auto;
}

.close-modale {
    z-index: 2;
    position: absolute;
    background-color: transparent;
    color: var(--dark-color);
    font-weight: bold;
    border: none;

    margin: 10px;
    align-self: center;
    top: 15px;
}

.card-stats-restist {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.7em;
    border-radius: 20px;
    margin: 2px auto;
    width: 200px;
    height: 260px;

    display: flex;
    flex-wrap: wrap;
}

.card-stat-resist {
    background-color: var(--light-medium-color);
    box-shadow: 6px 8px 7px -4px rgba(0,0,0,0.8);
    border-radius: 20px;
    width: 48%;
    margin: 2px auto;
    padding: 6px 0;

    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.immune {
    border-radius: 10px;
    padding: 1px 3px 0;
    background-color: #000000;
    color: #ffffff;
}

.neutral {
    padding: 1px 3px 0;
    border-radius: 10px;
    background-color: #ffffff;
    color: #000000;
}

.vulnerable {
    border-radius: 10px;
    padding: 1px 3px 0;
    background-color: #ff5454;
    color: var(--light-color);
}

.twice_vulnerable {
    border-radius: 10px;
    padding: 1px 3px 0;
    background-color: #de0000;
    color: var(--light-color);
}

.resistant {
    border-radius: 10px;
    padding: 1px 3px 0;
    background-color: #00ce11;
    color: var(--light-color);
}

.twice_resistant {
    border-radius: 10px;
    padding: 1px 3px 0;
    background-color: #208a00;
    color: var(--light-color);
}


